body{background:url(img/body.gif)}
#main,#mains{width:800px;background:url(img/main.png);margin:auto;padding-top:20px}
#main{position:relative;top:0;left:0;padding-bottom:10px}
#mains{padding-bottom:150px}
.simet{display:block;margin:auto;margin-bottom:20px}
.left{display:block;margin-left:180px}
.pont{cursor:pointer}
.smal{height:175px;margin:10px;border-color:#515150}
.unvis{display:none;position:absolute;top:0;left:0}
iframe{width:800px;display:block}
ul,p,#citron{display:none;font-style:italic;font-size:16px;font-weight:600;color:#4F4F4E;
margin-left:180px;text-align:justify}
ul p,body{margin:0}
#u13,p{margin-left:60px;margin-right:100px}
#uf,p,#citron{display:block;margin-left:100px}
#service{margin-left:36px;margin-top:10}
.shdw{position:absolute}
#mb{left:20px;width:780px;height:10px}
#br{left:800px}
#tr{left:800px;top:0}
#mr{left:800px;top:20px}
#citron{font-size:12px}
a:link{color:#4F4F4E} 
a:active{color:#57C5CE} 
a:visited{color:#4F4F4E} 
a:hover{color:#57C5CE}
#vk{margin-left:100px;margin-top:0;}

